.button-div {
  display: inline-block;
  }

.button {
  width: 100px;
  height: 30px;
  margin: 0 22px;
  background-color: rgb(25, 26, 26);
  color:rgb(180, 187, 84);
  border: 3px rgb(180, 187, 84) inset;
}

.button:hover{
background-color: rgb(133, 58, 108);
 opacity: .7;

}